GerenciamentoDeClinica/Web References/localhost/ClinicaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClinicaServiceLibrary.especialidade" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClinicaServiceLibrary.especialidade" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Especialidade">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_Especialidade" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Especialidade" nillable="true" type="tns:Especialidade" />
  <xs:complexType name="ArrayOfEspecialidade">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Especialidade" nillable="true" type="tns:Especialidade" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEspecialidade" nillable="true" type="tns:ArrayOfEspecialidade" />
</xs:schema>