GerenciamentoDeClinica/Web References/localhost/ClinicaService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClinicaServiceLibrary.convenio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClinicaServiceLibrary.convenio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Convenio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element name="ID_Convenio" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Convenio" nillable="true" type="tns:Convenio" />
  <xs:complexType name="ArrayOfConvenio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Convenio" nillable="true" type="tns:Convenio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConvenio" nillable="true" type="tns:ArrayOfConvenio" />
</xs:schema>