GerenciamentoDeClinica/Web References/localhost/ClinicaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClinicaServiceLibrary.paciente" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClinicaServiceLibrary.paciente" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55868/ClinicaService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/ClinicaServiceLibrary.convenio" />
  <xs:import schemaLocation="http://localhost:55868/ClinicaService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ClinicaServiceLibrary.classesbasicas" />
  <xs:complexType name="Paciente">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/ClinicaServiceLibrary.classesbasicas" base="q1:Pessoa">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ClinicaServiceLibrary.convenio" minOccurs="0" name="Convenio" nillable="true" type="q2:Convenio" />
          <xs:element name="ID_Paciente" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Paciente" nillable="true" type="tns:Paciente" />
  <xs:complexType name="ArrayOfPaciente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Paciente" nillable="true" type="tns:Paciente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPaciente" nillable="true" type="tns:ArrayOfPaciente" />
</xs:schema>