GerenciamentoDeClinica/Web References/localhost/ClinicaService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClinicaServiceLibrary.consulta" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClinicaServiceLibrary.consulta" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55868/ClinicaService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ClinicaServiceLibrary.estado" />
  <xs:import schemaLocation="http://localhost:55868/ClinicaService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ClinicaServiceLibrary.medico" />
  <xs:import schemaLocation="http://localhost:55868/ClinicaService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/ClinicaServiceLibrary.paciente" />
  <xs:import schemaLocation="http://localhost:55868/ClinicaService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/ClinicaServiceLibrary.secretaria" />
  <xs:complexType name="Consulta">
    <xs:sequence>
      <xs:element name="Duracao" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ClinicaServiceLibrary.estado" minOccurs="0" name="Estado" nillable="true" type="q1:Estado" />
      <xs:element name="Horario" type="xs:dateTime" />
      <xs:element name="ID_Consulta" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ClinicaServiceLibrary.medico" minOccurs="0" name="Medico" nillable="true" type="q2:Medico" />
      <xs:element name="Observacoes" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ClinicaServiceLibrary.paciente" minOccurs="0" name="Paciente" nillable="true" type="q3:Paciente" />
      <xs:element name="Receita" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ClinicaServiceLibrary.secretaria" minOccurs="0" name="Secretaria" nillable="true" type="q4:Secretaria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Consulta" nillable="true" type="tns:Consulta" />
  <xs:complexType name="ArrayOfConsulta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Consulta" nillable="true" type="tns:Consulta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConsulta" nillable="true" type="tns:ArrayOfConsulta" />
</xs:schema>