GerenciamentoDeClinica/Web References/localhost/ClinicaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClinicaServiceLibrary.classesbasicas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClinicaServiceLibrary.classesbasicas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Pessoa">
    <xs:sequence>
      <xs:element minOccurs="0" name="CPF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dt_Nascimento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Endereco" nillable="true" type="tns:Endereco" />
      <xs:element minOccurs="0" name="Estado_Civil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RG" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pessoa" nillable="true" type="tns:Pessoa" />
  <xs:complexType name="Endereco">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bairro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CEP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Complemento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Logradouro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UF" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Endereco" nillable="true" type="tns:Endereco" />
</xs:schema>