Atendimento/Web References/localhost/ClinicaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClinicaServiceLibrary.medico" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClinicaServiceLibrary.medico" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55868/ClinicaService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/ClinicaServiceLibrary.especialidade" />
  <xs:import schemaLocation="http://localhost:55868/ClinicaService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ClinicaServiceLibrary.classesbasicas" />
  <xs:complexType name="Medico">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/ClinicaServiceLibrary.classesbasicas" base="q1:Pessoa">
        <xs:sequence>
          <xs:element minOccurs="0" name="CRM" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ClinicaServiceLibrary.especialidade" minOccurs="0" name="Especialidade" nillable="true" type="q2:Especialidade" />
          <xs:element name="ID_Medico" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Medico" nillable="true" type="tns:Medico" />
  <xs:complexType name="ArrayOfMedico">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Medico" nillable="true" type="tns:Medico" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMedico" nillable="true" type="tns:ArrayOfMedico" />
</xs:schema>